body{
    font-family: sans-serif;
    background-color: rgb(25, 25, 25);
    color: rgb(200, 200, 200);
}

.favourite-movies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}